In [1]:
# Import our dependencies
import pandas as pd
import numpy as np
import io

In [2]:
# Read in csv data
url='https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv'
df=pd.read_csv(url)

In [3]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [4]:
df.dtypes

date       object
county     object
state      object
fips      float64
cases       int64
deaths      int64
dtype: object

In [5]:
us_state_abbrev = {
'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO',
'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA',
'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ',
'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD',
'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',
'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

In [6]:
df['state'] = df['state'].map(us_state_abbrev).fillna(df['state'])

In [7]:
df = df.rename(columns={'county': 'area_name'})

In [8]:
df = df.fillna(0)

In [9]:
df.fips = df.fips.astype(int)

In [10]:
df.head()

         date  area_name state   fips  cases  deaths
0  2020-01-21  Snohomish    WA  53061      1       0
1  2020-01-22  Snohomish    WA  53061      1       0
2  2020-01-23  Snohomish    WA  53061      1       0
3  2020-01-24       Cook    IL  17031      1       0
4  2020-01-24  Snohomish    WA  53061      1       0

In [12]:
df.to_json('data.json', orient='records')